$cream: #f9f6f1;
$accent: #d7b399;
$wid: 10px;
$wid2: 7px;
html {
	font-family: Montserrat, Arial, sans-serif;
	font-size: 8px;
	color: #000;
}
body {
	margin: 0;
}
.container {
	margin: 0 auto;
	width: 58%;
}
button,
button:active,
button:focus {
	outline: none !important;
	padding: 0;
	border: none;
	font: inherit;
	cursor: pointer;
}
