@use "common" as *;
header {
	background-color: $cream;
}
.top-menu {
	display: flex;
	justify-content: space-between;
	padding-top: 6.25rem;
	margin-bottom: 15rem;
}
.drop-downs,
.feature-menus {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	font-size: 1.75rem;
}
.category {
	display: flex;
	align-items: center;
}
.drop-down__span {
	display: block;
	width: 0;
	height: 0;
	border-left: 0.625rem solid transparent;
	border-right: 0.625rem solid transparent;
	border-top: 0.625rem solid #000;
	margin-left: 0.625rem;
}
.logo {
	flex: 0 1 auto;
	display: flex;
	margin: 0 5% 0 6%;
	letter-spacing: 2px;
	align-items: center;
}
.logopic {
	flex: 0 0 auto;
	margin: 0 3rem 0 0;
	position: relative;
	width: $wid;
	height: $wid;
	background-color: $accent;
	box-shadow: $wid $wid 0 0 $accent, $wid (-$wid) 0 0 $accent,
		(-$wid) $wid 0 0 $accent, (-$wid) (-$wid) 0 0 $accent;
	animation: logorotation 3s linear infinite normal;
	&:before {
		position: absolute;
		content: "";
		width: $wid;
		height: $wid;
		background-color: #fff;
		box-shadow: $wid2 $wid2 0 0 $accent, $wid2 (-$wid2) 0 0 $accent,
			(-$wid2) $wid2 0 0 $accent, (-$wid2) (-$wid2) 0 0 $accent;
	}
}
@keyframes logorotation {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.logo__text {
	text-transform: uppercase;
	margin-left: 1rem;
	font-weight: 700;
	font-size: 3rem;
}
.feature-menus {
	flex: 1 2 auto;
	justify-content: space-around;
}
.cart {
	flex: 0 1 auto;
	display: flex;
	align-items: center;
	margin-left: 1rem;
}
.cart__count {
	position: relative;
	width: 35px;
	height: 17px;
	background-color: #d7b399;
	margin-left: 26px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	font-size: 12px;
	line-height: 17px;
}
.cart__count:before {
	content: "";
	position: absolute;
	left: -12px;
	width: 0;
	height: 0;
	border-top: 8.5px solid transparent;
	border-bottom: 8.5px solid transparent;
	border-right: 15px solid #d7b399;
}
.advantageous-offer {
	width: 100%;
	padding-bottom: 20rem;
	margin: 0 auto;
	display: flex;
	align-items: stretch;
	justify-content: center;
}
.offer__text {
	flex: 1 1 50%;
	text-align: left;
	h1 {
		font-size: 6.875rem;
		font-weight: 700;
		letter-spacing: 2.5px;
		margin: 4rem 0 4.25rem 0;
	}
	h3 {
		font-size: 3.75rem;
		font-weight: 400;
		margin: 5.625rem 0 0 0;
	}
	.see-models {
		width: 240px;
		height: 55px;
		font-size: 2rem;
		font-weight: 400;
		color: #fff;
		background-color: $accent;
	}
}
.offer__picture {
	position: relative;
	flex: 1 1 50%;
	text-align: right;
	display: flex;
	align-items: center;
	img {
		width: 100%;
		object-fit: contain;
	}
	h2 {
		margin: 0.5rem auto;
	}
	.red-prise {
		font-weight: 600;
		font-size: 5.25rem;
		color: #d84033;
		margin: 2.5rem auto;
	}
}
.offer__picture__caption {
	margin-top: 6.5rem;
	position: absolute;
	right: 0;
	top: 0;
}

.crossed-out {
	font-weight: 600;
	font-size: 3rem;
	color: #000;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 50%;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
}
.swiper-container {
	margin-bottom: 5rem;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 3rem;
}
.swiper-pagination-bullet,
.swiper-container-horizontal
	> .swiper-pagination-bullets
	.swiper-pagination-bullet {
	width: 40px;
	height: 7px;
	margin: 0 7.5px;
	border-radius: 0;
	opacity: 1;
	background-color: #cecece;
}
.swiper-pagination-bullet,
.swiper-container-horizontal
	> .swiper-pagination-bullets
	.swiper-pagination-bullet-active {
	background: #d7b399;
}
.additional-advantage {
	width: 100%;
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 11rem 0 9rem 0;
	h2 {
		font-size: 3.75rem;
		font-weight: 600;
		margin: 0;
		span {
			font-weight: 400;
		}
	}
	p {
		font-size: 2.625rem;
		font-weight: 400;
		margin: 3rem 0 0 0;
	}
}
// _____________________________________

.collections {
	display: flex;
	width: 100%;
}
.collection-wrapper {
	flex: 0 0 50%;
	display: flex;

	background-repeat: no-repeat;
	background-size: 190px 171px;
	background-position: calc(100% - 50px) bottom;
}
.col-man {
	background-color: $cream;
}
.col-woman {
	background-color: #f4f4f4;
}

.collection {
	position: relative;
	flex: 0 0 50%;
	padding: 6rem 0 8rem 0;
	background-repeat: no-repeat;
	background-size: 190px 171px;
	background-position: calc(100% - 20px) bottom;

	h3 {
		font-size: 3rem;
		font-weight: 500;
		margin: 2rem 0 0 0;
		span {
			font-weight: 300;
		}
	}
	h4 {
		font-size: 2rem;
		font-weight: 300;
		margin: 3rem 0;
	}
}

.coll-man {
	background-color: $cream;
	background-image: url(../img/male.png);
	&:before {
		content: "";
		position: absolute;
		left: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $cream;
	}
}
.coll-woman {
	background-color: #f4f4f4;
	background-image: url(../img/female.png);
	&:after {
		content: "";
		position: absolute;
		right: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #f4f4f4;
	}
}
.collection__description {
	margin: 0 0 0 3rem;
}
.arrow-button {
	width: 80px;
	height: 30px;
	background-color: $accent;
	margin: 1rem 0 0 0;
	color: #fff;
}
.clothes-items {
	display: flex;
	flex-wrap: wrap;
}
.clothes-item {
	position: relative;
	flex: 1 1 25%;
}
.clothes-item__picture {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.clothes-item__description {
	position: absolute;
	bottom: 24px;
	left: 30px;
	font-weight: 300;
	font-size: 2.625rem;
}
// ________________________________

.new {
	text-align: center;
	padding-bottom: 19rem;
	h2 {
		text-transform: uppercase;
		font-size: 4.5rem;
		font-weight: 700;
		padding: 18.75rem 0 12.5rem 0;
		margin: 0;
	}
}
.models {
	display: flex;
	justify-content: space-between;
	padding-bottom: 12rem;
}
.model {
	position: relative;
	flex: 0 0 24%;
	display: flex;
	flex-direction: column;

	padding-top: 3rem;

	&:before,
	&:after {
		content: "";
		width: 100%;
		height: 25px;
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
	}
	&:before {
		background-image: url(../img/top-border.svg);
		top: 0;
	}
	&:after {
		background-image: url(../img/bottom-border.svg);
		bottom: 0;
	}
	.model__img {
		// img {
		// 	object-fit: contain;
		// }
	}
	.model__name {
		padding: 2rem 0 0 0;
		font-size: 1.75rem;
		font-weight: 600;
	}
	.model__price {
		font-size: 2.25rem;
		font-weight: 700;
		color: $accent;
		margin-top: 0;
	}
}
.big-button {
	width: 220px;
	height: 55px;
	color: #fff;
	font-size: 2rem;
	font-weight: 400;
	span {
		margin-right: 0.3rem;
	}
}

// ___________________________________

.discounts {
	.get-discount {
		background-color: #000;
		padding: 6rem 0;
	}

	.discounts__inner {
		display: flex;
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		h2 {
			color: #fff;
			font-size: 3.75rem;
			font-weight: 700;
		}
		form {
			width: 255px;
			height: 40px;
			background-color: #fff;
			margin-left: 4rem;
			color: #000;
			label {
				font-size: 1.5rem;
				font-weight: 300;
				color: #8d8d8d;
				line-height: 40px;
				margin-left: 2rem;
			}
		}
		.text-button {
			margin: 0;
			width: 185px;
			height: 40px;
			font-size: 1.75rem;
			font-weight: medium;
		}
	}
}
.discounts-models {
}

// __________________________________________________________

footer {
	width: 100%;
	background-color: #000;
	padding: 9rem 0;
	& * {
		color: #fff;
	}
	.footer-container {
		display: flex;
		justify-content: space-between;
		.footer-logo {
			flex: 0 0 21%;
			margin-right: 15rem;
			p {
				margin-top: 4rem;
				font-size: 1.75rem;
				font-weight: 400;
				line-height: 2.75rem;
			}
		}
		.footer-menu {
			h3 {
				margin-top: 0;
				text-transform: uppercase;
				font-size: 1.25rem;
				font-weight: 700;
				padding-bottom: 1rem;
			}
			ul {
				margin: 0;
				padding: 0;
				li {
					list-style-type: none;
					padding: 1rem 0;
					a {
						text-decoration: none;
						font-size: 1.75rem;
						font-weight: 400;

						color: #cbcfd4;
					}
					i {
						margin-right: 1rem;
						color: $accent;
					}
				}
			}
		}
	}
}
